#text{
    display: grid;
    align-content: center;
    margin-left:10%;
    width:50%;
    height: 4.5%;
    border-radius: 5px;
   
}
#tex{
    display: grid;
    align-content: center;
    margin-left:10%;
    width:50%;
    color:white;
}
#textl{
    display: grid;
    align-content: center;
    margin-left:10%;
    width:50%;
    height: 10%;
    border-radius: 5px;
}

#lol{
    text-align: center;
    color:white;
}
#jo{
    display: grid;
    margin-left: 30%;
   height: 50%;
    width:40%;
   background: linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    display: grid;
    border-radius: 15px;
}
#radio{
  text-align: center;
   margin-left:10%; 
   height: 2%;
}
#Submit{
    display: grid;
    align-content: center;
    margin-left: 40%;
    padding:5px;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
}
#Submit:hover{
    background-color: orange;
}
#tet{
  
    margin-left:38%;
    text-decoration: none;
    text-align: center;
    color:white;
  
}
#tet:hover{
    color: orange;
}